

.signUpPage {
    width: 50%;
    height: 50%;
    /* background-color: black; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.formCenter {
    background-color: pink;
    padding: 25px;
    border-radius: 15px;
    font-size: 30px;
}
.signUpTitle{
    text-align: center;
    margin-bottom: 10px;
    background-color: pink;
    border-radius: 15px;
}

.PhoneNumber{
    margin-left: 40%;
}
input{
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

label {
    display: inline-block;
    font-size: 30px;
    margin-bottom: .5rem;
    font-weight: bold;
}
.PhoneNumber{
    font-size: 40px;
}